<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330450194507-p0a18q79mpqkrk8vmosr973j11k2kbqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330450194507-p0a18q79mpqkrk8vmosr973j11k2kbqn</string>
	<key>API_KEY</key>
	<string>AIzaSyC-5CKdb3gREdUDst8PTTYKSdzTaXaopCU</string>
	<key>GCM_SENDER_ID</key>
	<string>330450194507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easygymclub.easy</string>
	<key>PROJECT_ID</key>
	<string>easy-gym-club</string>
	<key>STORAGE_BUCKET</key>
	<string>easy-gym-club.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330450194507:ios:aa80a23f58a5c43b5d3dce</string>
	<key>DATABASE_URL</key>
	<string>https://easy-gym-club.firebaseio.com</string>
</dict>
</plist>